page-pay {
  ion-card {
    background-color: darkgray !important;
    height: 125px !important;
    width: 100% !important;
    margin: 0 0 5% 0 !important;
    position: relative;
    text-align: center;
  }

  .payCardActive {
    /* background-color: #0094fe !important; */
  }

  ion-card img {
    display: inline-block;
    height: 100%;
    width: auto;
    mix-blend-mode: multiply;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 60%;
    width: 100%;
    color: #fff;
  }
}
