<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row class="payRestaurantsRow">
    <ion-col col-12 style="text-align: center">
      <ion-card *ngFor="let selection of selections; let i = index"
                [ngClass]="{'payCardActive': selections[i].length > 0}" (click)="openReviewOrder(i)">
        <img src="{{restaurants[i].image_url}}"/>
        <div class="card-title">{{restaurants[i].name}}</div>
        <div class="card-subtitle">{{selections[i].length + (selections[i].length == 1 ? " item": " items")}}</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
