<ion-tabs>
  <ion-tab [root]="tab1Root" swipeBackEnabled="true" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="foodbabyicon-baby"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="bookmark"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="person"></ion-tab>
</ion-tabs>
