<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="restaurantRow">
    <ion-col col-5 class="restaurantImageCol">
      <img class="restaurantImage" src="{{image_url}}" width="100%"/>
    </ion-col>

    <ion-col col-7 class="restaurantNameCol">
      <p class="restaurantName">{{name}}</p>
      <p class="restaurantDescription">{{description}}</p>

      <ion-row class="restaurantSocialRow">
        <ion-col col-6 class="restaurantImageCol">
          <a href="{{facebook_url}}" target="_blank">
            <ion-icon name="logo-facebook" style="color: #0094fe"></ion-icon>
          </a>
        </ion-col>
        <ion-col col-6 class="restaurantImageCol">
          <a href="{{instagram_url}}" target="_blank">
            <ion-icon name="logo-instagram" style="color: #0094fe"></ion-icon>
          </a>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-12 style="text-align: center" no-padding>
      <ion-slides>
        <ion-slide *ngFor="let food of foods">
          <img *ngIf="food.image_url.length > 0" src="{{food.image_url}}" class="restaurantFoodSlide"/>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>
