<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding-bottom>
  <ion-row class="startTourHeaderRow">
    <ion-col col-12 style="text-align: center">
      <p class="startTourTitle">{{restaurant.name}}</p>
      <p class="startTourSubText">{{restaurant.description}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="reviewOrderButtonsRow">
    <ion-col col-6>
      <button ion-button [ngClass]="{'reviewOrderButtonInactive': !isPaying}"
        (click)="toggleIsPaying(true)">Selections</button>
    </ion-col>
    <ion-col col-6>
      <button ion-button [ngClass]="{'reviewOrderButtonInactive': isPaying}"
        (click)="toggleIsPaying(false)">Order History</button>
    </ion-col>
  </ion-row>

  <ion-row class="reviewOrderPayRow" *ngIf="isPaying">
    <ion-row *ngFor="let selection of selections[restaurantIndex]" class="reviewOrderPaySubRow" padding-left padding-right>
      <ion-col col-6 class="reviewOrderPayItemCol" no-padding>
        <p class="reviewOrderPayItemName">{{selection.name}}</p>
      </ion-col>

      <ion-col col-3 class="reviewOrderPayQuantityCol" no-padding>
        <p class="reviewOrderPayQuantity">${{selection.price + " x " + selection.quantity}}</p>
      </ion-col>

      <ion-col col-3 class="reviewOrderPayTotalCol" no-padding>
        <p class="reviewOrderPayTotal">${{(selection.price * selection.quantity).toFixed(2)}}</p>
      </ion-col>
    </ion-row>

    <ion-row no-padding class="reviewOrderPayTotalRow">
      <ion-col col-6></ion-col>
      <ion-col col-3 class="reviewOrderPayQuantityCol" padding-right>
        <p class="reviewOrderPayQuantityBold">Total</p>
      </ion-col>
      <ion-col col-3 class="reviewOrderPayTotalCol" padding-right>
        <p class="reviewOrderPayTotalBold">${{getTotalPrice()}}</p>
      </ion-col>
    </ion-row>

    <ion-col col-12 class="reviewOrderPayCheckoutCol">
      <button ion-button (click)="openCheckoutModal()" class="reviewOrderPayCheckoutButton"
        [disabled]="selections[restaurantIndex].length <= 0">Check Out</button>
    </ion-col>

  </ion-row>

  <ion-row class="reviewOrderHistoryRow" *ngIf="!isPaying">
    <ion-row *ngFor="let order of orders[restaurantIndex]" class="reviewOrderOrdersSubRow" padding-left padding-right>
      <ion-col col-12 no-padding class="reviewOrderOrdersCol">
        <p>{{order.name + " x " + order.quantity}}</p>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-content>
