<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openGoogleMaps()">
        <ion-icon name="foodbabyicon-map" class="navBarMapIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: whitesmoke" swipeBackEnabled="true">

  <ion-row class="startTourHeaderRow">
    <ion-col col-12 style="text-align: center">
      <p class="startTourTitle">The Capital Crawl</p>
      <p class="startTourSubText">Activated earlier today</p>
    </ion-col>
  </ion-row>

  <ion-row class="startTourButtonsRow" no-padding>
    <ion-row class="startTourButtonsTopRow" style="border-bottom: 1px solid lightgray;" no-padding>
      <ion-col col-6 style="border-right: 1px solid lightgray;" no-padding (click)="goToSelectMenu()"
               [ngClass]="{'startTourSelectionsColActive': !isSelectionsEmpty()}">
        <ion-icon name="foodbabyicon-plate"></ion-icon>
        <p>Selections</p>
      </ion-col>
      <ion-col col-6 no-padding (click)="goToMoreInfo()">
        <ion-icon name="foodbabyicon-home"></ion-icon>
        <p>Crawl Page</p>
      </ion-col>
    </ion-row>

    <ion-row class="startTourButtonsBottomRow" no-padding>
      <ion-col col-6 style="border-right: 1px solid lightgray;" no-padding (click)="goToNavigationModal()">
        <ion-icon name="foodbabyicon-navigate"></ion-icon>
        <p>Navigate</p>
      </ion-col>
      <ion-col col-6 no-padding (click)="goToPay()">
        <ion-icon name="foodbabyicon-usd"></ion-icon>
        <p>Pay</p>
      </ion-col>
    </ion-row>
  </ion-row>

  <ion-row class="startTourRestaurantsTopRow" padding-top>
    <ion-row class="startTourRestaurantsSubRow" no-padding *ngFor="let restaurant of tour.restaurants"
             (click)="goToVideoModal(restaurant)">
      <ion-col col-3 class="startTourRestaurantsImageCol">
        <img src="{{restaurant.image_url}}"/>
      </ion-col>
      <ion-col col-8 class="startTourRestaurantsTextCol">
        <p class="startTourRestaurantsName">{{restaurant.name}}</p>
        <p class="startTourRestaurantsDescription">{{restaurant.description}}</p>
      </ion-col>
      <ion-col col-1 class="startTourRestaurantsArrowCol">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-row>

  <ion-row class="startTourEndTourRow">
    <ion-col col-12 style="text-align: center">
      <button ion-button (click)="goToHome()">End Tour</button>
    </ion-col>
  </ion-row>

</ion-content>
