<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openGoogleMaps()">
        <ion-icon name="foodbabyicon-map" class="navBarMapIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: whitesmoke">
  <ion-card class="homeTourCard">

    <ion-row class="homeTourHeaderRow">
      <ion-col col-7 padding-left>
        <a class="homeTourTitle">{{tour.name}}</a>
        <p class="homeTourSubTitle">0.2 miles away</p>
      </ion-col>

      <ion-col col-5 class="homeTourStarCol">
        <ion-icon name="{{getStarIconName(i)}}" class="homeIconStar" *ngFor="let i of [5,4,3,2,1]"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="homeTourImgRow">
      <img class="homeTourImg" src="{{tour.image_url}}" (click)="goToTourGallery()"/>
    </ion-row>

    <ion-row class="homeTourQuoteRow">
      <ion-col col-2>
        <ion-avatar>
          <img src="{{tour.quote.image_url}}">
        </ion-avatar>
      </ion-col>

      <ion-col col-10 class="homeTourQuoteCol">
        <p class="homeTourQuoteMain">{{tour.quote.quote}}</p>
        <p class="homeTourQuoteSub">-{{tour.quote.author + ", " + tour.quote.title}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="homeTourInfoRow">
      <ion-col col-12 class="homeTourStartCol">
        <button ion-button class="homeTourStartButton" (click)="goToStartTour()">
          Start
        </button>
      </ion-col>

      <ion-col col-4 class="homeTourInfoIconCol">
        <ion-icon name="pin"></ion-icon>
        <span>{{this.tour.restaurants.length}} stops</span>
      </ion-col>

      <ion-col col-4 class="homeTourInfoIconCol">
        <ion-icon name="walk"></ion-icon>
        <span>{{this.tour.distance}}</span>
      </ion-col>

      <ion-col col-4 class="homeTourInfoIconCol" style="border: none;">
        <ion-icon name="timer"></ion-icon>
        <span>{{this.tour.duration}}</span>
      </ion-col>

      <ion-col col-12 class="homeTourInfoPriceCol">
        <ion-icon *ngFor="let i of [1,2,3,4,5]" name="logo-usd"
                  [ngClass]="{'homeTourPriceDollarFill': i <= tour.price}"></ion-icon>
        <span>1,120 crawls</span>
      </ion-col>

      <ion-col col-12 class="homeTourInfoTagsCol">
        <span class="homeTourInfoTagsLabel">Tags: </span>
        <span class="homeTourInfoTag">{{getTourTags()}}</span>
      </ion-col>
    </ion-row>

    <ion-row class="homeTourMoreInfoRow">
      <ion-col col-12 class="homeTourMoreInfoCol">
        <button ion-button class="homeTourMoreInfoButton" (click)="goToMoreInfo()">
          More Information
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
