<ion-content>
  <ion-row class="videoModalRow">
    <ion-col col-12 no-padding>
      <button ion-button end (click)="closeModal()" class="foodModalCloseButton">X</button>
    </ion-col>
    <ion-col col-12 class="videoModalCol" padding>
      <iframe width="100%" height="375" [src]="getSafeVideoUrl()" frameborder="0" allowfullscreen></iframe>
    </ion-col>
  </ion-row>
</ion-content>
