<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openGoogleMaps()">
        <ion-icon name="foodbabyicon-map" class="navBarMapIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 style="text-align: center; font-size: 36pt">Feature coming soon!</h1>
</ion-content>
