// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0094fe,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  black:    #000,
  white:    #fff,
  gray:     #A7A9AC,
  facebook:   #3A589B,
  twitter:    #2AAAE0,
  youtube:    #D21919
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-color-active: #000;
$tabs-ios-tab-color-inactive: #C7C7C7;
$card-ios-box-shadow: #fff;
$segment-button-ios-text-color: #fff;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$tabs-md-tab-text-transform-active: 0;
$tabs-md-tab-text-transition: 0;
$tabs-md-tab-icon-transform-active: 0;
$tabs-md-tab-color-active: #000;
$tabs-md-tab-color-inactive: #C7C7C7;
$card-md-box-shadow: #fff;
$button-md-ripple-background-color: 0;
$button-md-outline-ripple-background-color: 0;
$button-md-clear-ripple-background-color: 0;
$searchbar-md-input-border-radius: 0;
$searchbar-md-input-box-shadow: 0;
$segment-button-md-border-color-activated: #000;
$segment-button-md-text-color-activated: #000;
$segment-button-md-text-color: #fff;
$segment-button-md-border-bottom-width: 1px;
$checkbox-md-icon-border-radius: 50%;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
