// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "foodbabyicon-" prefix
ion-icon {
  font-size: 36px;

  &[class*="foodbabyicon-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="foodbabyicon-baby"] {
    mask-image: url(../assets/imgs/icon-baby-black.svg);
  }
  &[class*="foodbabyicon-home"] {
    mask-image: url(../assets/imgs/icon-home.svg);
  }
  &[class*="foodbabyicon-map"] {
    mask-image: url(../assets/imgs/icon-map.svg);
    color: white;
  }
  &[class*="foodbabyicon-navigate"] {
    mask-image: url(../assets/imgs/icon-navigate.svg);
  }
  &[class*="foodbabyicon-plate"] {
    mask-image: url(../assets/imgs/icon-plate.svg);
  }
  &[class*="foodbabyicon-usd"] {
    mask-image: url(../assets/imgs/icon-usd.svg);
  }
}

ion-row {
  background-color: white;
}

.card-md p {
  color: #666;
}

.toolbar-background {
  background-color: #0094fe;
}

.tabs-md .tabbar {
  background: white;
}

.toolbar {
  &.toolbar-md { //material design only
    &.navBar {
      position: relative;
      .title-md { //material design only
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.title {
  padding: 0 !important;
}

.toolbar-title {
  height: 100%;
  padding: 0;
}

.navBar .back-button-icon.icon-md {
  color: white;
  font-size: 2.3em;
}

.navBar .back-button-icon.icon-ios {
  color: white;
  font-size: 1.7em;
}

.navBarLogo {
  display: inline-block;
  height: 28px;
  max-width: 175px;
  min-width: 80px;
  position: relative;
  left: 1%;
  top: 22%;
  width: 35%;
}

.navBarMapIcon.icon-md {
  font-size: 2.3em !important;
}

.navBarMapIcon.icon-ios {
  font-size: 1.7em !important;
}

.homeIconStar {
  float: right;
  font-size: 28px;
  color: gold;
}

.homeTourCard {
  background-color: inherit;
  margin: 0 0 10px 0;
  width: 100vw !important;
}

.homeTourHeaderRow {
  padding-top: 5px;
}

.homeTourImg {
  height: 60vh;
  width: 100vw;
}

.homeTourImgRow {
  padding-top: 5px;
}

.homeTourInfoRow {
  border-radius: 20px 20px 0 0;
  margin: 25px 25px 0 25px;
  padding: 5px 10px;
}

.homeTourInfoIconCol {
  border-right: 2px solid lightgray;
  text-align: center;
}

.homeTourInfoIconCol ion-icon {
  color: gold;
  font-size: 24px;
  padding-left: 0;
}

.homeTourInfoIconCol span {
  font-size: 11pt;
  font-weight: 300;
  padding-left: 5px;
  position: relative;
  top: -3px;
}

.homeTourInfoPriceCol {
  border-bottom: 2px solid lightgray;
  padding: 20px 5px 10px 5px;
  text-align: center;
}

.homeTourInfoPriceCol ion-icon {
  color: gray;
  font-size: 18px;
  padding: 0 1px;
}

.homeTourInfoPriceCol span {
  font-size: 11pt;
  font-weight: 300;
  margin-left: 20%;
  position: relative;
  top: -3px;
}

.homeTourMoreInfoRow {
  border-radius: 0 0 25px 25px;
  margin: 0 25px 25px 25px;
  min-height: 54px;
}

.homeTourMoreInfoCol {
  padding: 0;
}

.homeTourMoreInfoButton {
  border-radius: 0 0 25px 25px;
  font-size: 16pt;
  height: 100%;
  margin: 0;
  width: 100%;
}

.homeTourPriceDollarFill {
  color: gold !important;
}

.homeTourQuoteMain {
  color: black !important;
  font-size: 10pt;
  margin: 0;
}

.homeTourQuoteSub {
  font-size: 10pt;
  font-weight: 300;
}

.homeTourQuoteRow {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 25px;
}

.homeTourQuoteCol {
  padding: 5px 0;
  text-align: center;
}

.homeTourStarCol {
  padding: 10px 10px 5px 5px;
}

.homeTourStartButton {
  background-color: #1DE9B6;
  border-radius: 50%;
  font-size: 16pt;
  font-weight: 600;
  height: 90px;
  margin-top: -25px;
  width: 90px;
}

.homeTourStartCol {
  text-align: center;
}

.homeTourInfoTag {
  font-weight: 300;
}

.homeTourInfoTagsCol {
  font-size: 10pt;
}

.homeTourInfoTagsLabel {
  font-weight: 600;
}

.homeTourTitle {
  color: blue;
  font-size: 13pt;
  font-weight: 500;
}

//MORE INFO PAGE
.moreInfoImg {
  height: 30vh;
  width: 100vw;
}

.moreInfoGuideCol {
  text-align: center;
}

.moreInfoGuideImg {
  margin-left: 35%;
  width: 40px;
}

.moreInfoGuideDescription {
  font-weight: 300;
}

.moreInfoGuideName {
  color: black;
}

.moreInfoGuideRow {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 25px;
}

.moreInfoHeaderRow {
  padding-bottom: 10px;
}

.moreInfoIconStar {
    font-size: 28px;
    color: gold;
}

.moreInfoQuoteCol {
  border-top: 1px solid #666;
}

.moreInfoQuoteText {
  color: black;
  font-size: 10pt;
}

.moreInfoStarCol {
  padding-top: 5%;
  text-align: center;
}

.moreInfoStartButton {
  background-color: #1DE9B6;
  border-radius: 50%;
  font-size: 16pt;
  font-weight: 600;
  height: 90px;
  margin-top: -35px;
  width: 90px;
}

.moreInfoTitle {
  font-size: 20pt;
  font-weight: 500;
}

.moreInfoIconCol {
  text-align: center;
}

.moreInfoIconCol ion-icon {
  color: gold;
  font-size: 42px;
  padding-left: 0;
}

.moreInfoIconCol p {
  font-size: 11pt;
  font-weight: 300;
  padding-left: 5px;
  position: relative;
  top: 3px;
}

.moreInfoRestaurantsCol {
  text-align: center;
}

.moreInfoRestaurantsImg {
  display: block;
  width: 65%;
  margin: 0 auto;
  padding: 5px 0;
}

.moreInfoRestaurantsName {
  color: #666;
  font-size: 10pt;
}

.moreInfoRestaurantsRow {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 25px;
}

.moreInfoTagsCol {
  border-top: 1px solid #666;
}

.moreInfoTags {
  color: #666;
}

.moreInfoTourRow {
  padding: 5px 30px;
}


//SELECT MENU PAGE
.selectMenuButtonCol {
  text-align: center;
}

.selectMenuButton {
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  border-radius: 10px;
  font-size: 14pt;
  font-weight: 500;
  height: 55px;
  white-space: normal;
  width: 90%;
}

.selectMenuHelpCol, .selectMenuCollapseIconCol, .selectMenuHelpRow {
  background-color: lightgray;
}

.selectMenuCollapseIconCol ion-icon {
  color: #0094fe;
  font-size: 28px;
  margin-top: 7px;
}

.selectMenuSubText {
  color: #666;
  font-size: 14pt;
  font-style: italic;
  font-weight: 300;
  padding-left: 2%;
}

.selectMenuFoodCol {
  padding-left: 2%;
}

.selectMenuFoodName {
  color: black !important;
  font-size: 12pt !important;
}

.selectMenuHelpText {
  color: #666 !important;
  font-size: 14pt !important;
  margin: 5px 0 !important;
  padding-left: 2%;
}

.selectMenuMinusButton, .selectMenuPlusButton {
  color: black !important;
  font-size: 28pt !important;
  text-align: center !important;
}

.selectMenuQuantityCol {
  color: #0094fe !important;
  font-size: 32pt !important;
  padding: 0 !important;
}

.selectMenuFoodRow {
  border: none;
}

.selectMenuFoodRow ~ .selectMenuFoodRow {
  border-top: 2px solid lightgray;
}

.selectMenuOrderButton {
  background-color: mediumseagreen;
  font-size: 16pt;
  width: 90%;
}

.selectMenuOrderButtonCol {
  text-align: center;
}

//TOUR GALLERY PAGE
.tourGalleryCol {
  font-size: 0;
}

.foodModalCloseButton {
  float: right;
  font-size: 8pt;
  height: 20px;
  margin: 2% 2% 0 0;
  width: 20px;
}

.foodModalDescription {
  color: #666;
  font-size: 14pt;
  font-weight: 300;
  margin: 0;
}

.foodModalName {
  font-size: 20pt;
  font-weight: 300;
  margin: 10px;
}

.foodModalRow {
  text-align: center;
}

//ion-modal {
//  @media (min-height: 500px) {
//    ion-backdrop {
//      visibility: visible;
//    }
//  }
//
//  position: absolute;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  z-index: $z-index-overlay;
//
//  display: flex;
//
//  align-items: center;
//  justify-content: center;
//
//  contain: strict;
//  .modal-wrapper {
//    &,
//    .ion-page,
//    .ion-page .content,
//    .ion-page .content .scroll-content {
//      contain: content;
//      position: relative;
//      top: auto;
//      left: auto;
//    }
//
//    z-index: $z-index-overlay-wrapper;
//    display: flex;
//    overflow: hidden;
//
//    flex-direction: column;
//
//    min-width: $alert-min-width;
//    max-height: $alert-max-height;
//
//    opacity: 0;
//
//    height: auto;
//    max-width: $alert-md-max-width;
//    border-radius: $alert-md-border-radius;
//    background-color: $alert-md-background-color;
//    box-shadow: $alert-md-box-shadow;
//
//    .ion-page .content {
//      background-color: color($colors, light);
//    }
//  }
//}

ion-modal {
  @media (min-width: 300px) and (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    width: 100vw;
    height: 65vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,.4);
    background-color: #fafafa;
  }
}

ion-modal.checkoutModal .modal-wrapper {
  height: 40vh;
}



//RESTAURANT PAGE
.restaurantName {
  font-size: 20pt;
  font-weight: 500;
  margin: 5% 0;
  text-align: center;
  text-decoration: underline;
}

.restaurantDescription {
  color: #666;
  font-size: 10pt;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.restaurantImageCol {
  text-align: center;
}

.restaurantImage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.restaurantImageCol ion-icon {
  color: #0094fe;
  font-size: 48pt;
}

.restaurantFoodSlide {
  border: 3px solid black;
  height: 325px !important;
  width: 90% !important;
}


//NAVIGATION MODAL

.navigationModalCol {
  text-align: center;
}

.navigationModalHeader {
  font-size: 24pt;
  font-weight: 500;
  margin: 0;
}

.navigationModalDescription {
  font-size: 20pt;
  font-weight: 300;
  margin: 5% 0 0 10%;
  text-align: left;
}

.navigationModalIcon {
  color: #0094fe;
  display: block;
  font-size: 47px;
  margin: 5% 1%;
}


//START TOUR PAGE
.startTourTitle {
  color: #0094fe;
  font-size: 23px;
  font-weight: 500;
  margin: 5px;
}

.startTourSubText {
  color: #666;
  font-size: 14px;
  margin: 5px;
}

.startTourButtonsRow {
  border-radius: 20px;
  margin: 25px;
  text-align: center;
}

.startTourButtonsRow ion-row {
  width: 100%;
}

.startTourButtonsRow ion-icon {
  color: #666;
  font-size: 50px;
  margin-top: 15px;
}

.startTourButtonsRow p {
  color: #666;
  font-weight: 300;
  margin: 5px 0 15px 0;
}

.startTourButtonsBottomRow {
  border-radius: 0 0 20px 20px;
}

.startTourButtonsTopRow {
  border-radius: 20px 20px 0 0;
}

.startTourRestaurantsImageCol img {
  margin: 5% 0 0 10%;
  width: 80%;
}

.startTourRestaurantsName {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0 0 0;
}

.startTourRestaurantsDescription {
  color: #666;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.startTourRestaurantsArrowCol ion-icon {
  color: #666;
  font-size: 40px;
  position: relative;
  top: 20%;
}

.startTourRestaurantsSubRow {
  border-top: 1px solid lightgray;
}

.startTourEndTourRow {
  border-top: 1px solid lightgray;
  padding: 1% 0;
}

.startTourEndTourRow button {
  background-color: red;
  font-size: 22px;
  height: 44px;
  width: 95%;
}

.startTourSelectionsColActive p, .startTourSelectionsColActive ion-icon {
  color: #0094fe !important;
}

//REVIEW ORDER PAGE
.reviewOrderButtonsRow {
  background-color: whitesmoke;
}

.reviewOrderButtonsRow button {
  height: 40px;
  width: 100%;
  font-size: 20px;
}

.reviewOrderButtonInactive {
  background-color: #666 !important;
}

.reviewOrderPaySubRow {
  border-top: 1px solid lightgray;
  width: 100%;
}

.reviewOrderPaySubRow p {
  font-size: 14px;
  height: 75px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.reviewOrderPayQuantityCol, .reviewOrderPayTotalCol {
  display: table;
  text-align: right;
}

.reviewOrderPayTotalRow {
  border-top: 1px solid lightgray;
  width: 100%;
}

.reviewOrderPayTotalRow p {
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.reviewOrderPayCheckoutCol {
  padding: 3% 0;
  text-align: center;
}

.reviewOrderPayCheckoutButton {
  background-color: mediumseagreen;
  font-size: 22px;
  height: 50px;
  width: 90%;
}

.videoModalRow {
  background: black;
  text-align: center;
}

.reviewOrderOrdersSubRow {
  border-top: 1px solid lightgray;
  width: 100%;
}

.reviewOrderOrdersCol p {
  font-size: 16px;
  font-weight: 500;
}

//CHECKOUT MODAL
.checkoutModalEmail {
  display: block;
  height: 43px;
  margin-top: 15px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgray;
  font-size: 18px;
  padding: 8px 12px;
}

.checkoutModalEmail::placeholder {
  color: #0094fe;
}

.checkoutModalButton {
  background-color: mediumseagreen;
  width: 85%;
}
