<ion-content>
  <ion-row class="foodModalRow">
    <ion-col col-12 no-padding>
      <button ion-button end (click)="closeModal()" class="foodModalCloseButton">X</button>
    </ion-col>
    <ion-col col-12 class="foodModalCol" padding>
      <img src="{{image_url}}" width="80%"/>

      <p class="foodModalName">{{name}}</p>
      <p class="foodModalDescription">{{description}}</p>
    </ion-col>
  </ion-row>
</ion-content>
