<ion-content>
  <ion-row class="checkoutModalRow">
    <ion-col col-12 no-padding>
      <button ion-button end (click)="closeModal()" class="foodModalCloseButton">X</button>
    </ion-col>
    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout"
          [hidden]="(null != customer && customer.length > 0) || isPostingCharge">
      <div class="form-row">
        <label for="card-info">Card Info</label>
        <input class="checkoutModalEmail" placeholder="Enter Email Here" name="email" type="email" [(ngModel)]="email"/>
        <div id="card-info" #cardInfo></div>

        <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      </div>

      <button type="submit">Pay ${{getTotalPrice()}}</button>
    </form>
    <ion-col col-12 *ngIf="null != customer && customer.length > 0 && !isPostingCharge" style="text-align: center">
      <button ion-button class="checkoutModalButton" (click)="postCharge(customer)">Pay ${{getTotalPrice()}}</button>
    </ion-col>
    <ion-col col-12 *ngIf="isPostingCharge" style="text-align: center">
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>
