  <ion-header no-border>
    <ion-navbar class="navBar">
      <ion-title>
        <img src="assets/imgs/foodbaby-header.png"
             class="navBarLogo" />
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-row class="tourGalleryRow">
    <ion-col col-6 no-padding class="tourGalleryCol">
      <ng-container *ngFor="let food of foods; let i = index;">
          <img *ngIf="i % 2 == 0 && food.image_url.length > 0" src="{{food.image_url}}" width="100%"
               (click)="openFoodModal(food)"/>
      </ng-container>
    </ion-col>

    <ion-col col-6 no-padding class="tourGalleryCol">
      <ng-container *ngFor="let food of foods; let i = index;">
        <img *ngIf="i % 2 != 0 && food.image_url.length > 0" src="{{food.image_url}}" width="100%"
             (click)="openFoodModal(food)"/>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
