<ion-content>
  <ion-row class="navigationModalRow">
    <ion-col col-12 no-padding>
      <button ion-button end (click)="closeModal()" class="foodModalCloseButton">X</button>
    </ion-col>
    <ion-col col-12 class="navigationModalCol" padding>
      <p class="navigationModalHeader">Where To?</p>
    </ion-col>
    <ion-col col-10>
      <p class="navigationModalDescription"
         *ngFor="let restaurant of restaurants; let i = index;"
         (click)="navigateToRestaurant(restaurant)">{{(i+1) + ". " + restaurant.name}}</p>
    </ion-col>
    <ion-col col-2>
      <ion-icon name="arrow-round-forward" class="navigationModalIcon"
                *ngFor="let restaurant of restaurants" (click)="navigateToRestaurant(restaurant)"></ion-icon>
    </ion-col>
  </ion-row>
</ion-content>
