<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           style="display:inline-block; padding-top: 10px; max-width: 175px; min-width: 80px;"
           height="42px" width="35%" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row class="selectMenuHelpRow">
    <ion-col col-12 class="selectMenuHelpCol">
      <p class="selectMenuHelpText">
        Select your tasting menu
      </p>
    </ion-col>
  </ion-row>

  <ion-row class="selectMenuButtonRow">
    <ion-col col-6 class="selectMenuButtonCol">
      <button ion-button class="selectMenuButton"
              style="background-color: #1DE9B6 !important;">
        Recommended menu
      </button>
    </ion-col>

    <ion-col col-6 class="selectMenuButtonCol">
      <button ion-button class="selectMenuButton">
        Build your own
      </button>
    </ion-col>
  </ion-row>

  <ion-row class="selectMenuSubTextRow">
    <ion-col col-12>
      <p class="selectMenuSubText">Recommended menu can be customized later.</p>
    </ion-col>
  </ion-row>
</ion-content>
