<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let restaurant of restaurants; let i = index;" style="margin: 0; width: 100%;">
    <ion-row class="selectMenuHelpRow" (click)="isExpanded[i] = !isExpanded[i]">
      <ion-col col-11 class="selectMenuHelpCol">
        <p class="selectMenuHelpText">
          {{restaurant.name}}
        </p>
      </ion-col>
      <ion-col col-1 class="selectMenuCollapseIconCol" no-padding>
        <ion-icon name="{{isExpanded[i] ? 'arrow-dropdown-circle' : 'arrow-dropright-circle'}}"></ion-icon>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="isExpanded[i]">
      <ion-row *ngFor="let food of restaurant.foods;" class="selectMenuFoodRow">
          <ion-col col-9 class="selectMenuFoodCol">
            <p class="selectMenuFoodName"><b>{{food.name + " - $" + food.price}}</b></p>
            <p class="selectMenuFoodDescription">{{food.description}}</p>
          </ion-col>

          <ion-col col-1 class="selectMenuMinusCol">
            <p class="selectMenuMinusButton" (click)="removeSelection(food, restaurants.indexOf(restaurant))">
              -
            </p>
          </ion-col>

          <ion-col col-1 class="selectMenuQuantityCol">
            {{food.quantity}}
          </ion-col>

          <ion-col col-1 class="selectMenuPlusCol">
            <p class="selectMenuPlusButton" (click)="addSelection(food, restaurants.indexOf(restaurant))">
              +
            </p>
          </ion-col>
      </ion-row>
    </ng-container>
  </ion-card>

  <ion-row class="selectMenuOrderButtonRow">
    <ion-col col-12 class="selectMenuOrderButtonCol">
      <button ion-button class="selectMenuOrderButton" (click)="goToStartTour()">
        Save Selections
      </button>
    </ion-col>
  </ion-row>

</ion-content>
