<ion-header no-border>
  <ion-navbar class="navBar">
    <ion-title>
      <img src="assets/imgs/foodbaby-header.png"
           class="navBarLogo" />
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openGoogleMaps()">
        <ion-icon name="foodbabyicon-map" class="navBarMapIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: whitesmoke">
  <ion-card class="homeTourCard">

    <ion-row class="moreInfoImgRow">
      <img class="moreInfoImg" src="{{tour.small_image_url}}" (click)="goToTourGallery()"/>
    </ion-row>

    <ion-row class="moreInfoHeaderRow">
      <ion-col col-12 class="homeTourStartCol">
        <button ion-button class="moreInfoStartButton" (click)="goToStartTour()">
          Start
        </button>
      </ion-col>

      <ion-col col-12 padding-left>
        <a class="moreInfoTitle">{{tour.name}}</a>
        <p class="homeTourSubTitle">{{tour.location}}</p>
      </ion-col>
    </ion-row>

    <ion-row class="moreInfoGuideRow">
      <ion-col col-6 class="moreInfoGuideCol">
        <ion-avatar>
          <img class="moreInfoGuideImg" src="{{tour.review.image_url}}">
        </ion-avatar>
        <p class="moreInfoGuideName">{{tour.review.author}}</p>
        <p class="moreInfoGuideDescription">{{tour.review.title}}</p>
      </ion-col>

      <ion-col col-6 class="moreInfoStarCol">
        <ion-icon name="{{getStarIconName(i)}}" class="moreInfoIconStar" *ngFor="let i of [5,4,3,2,1]"></ion-icon>
        <p class="moreInfoStarText">{{tour.review.number}} reviews</p>
      </ion-col>

      <ion-col col-12 class="moreInfoQuoteCol">
        <p class="moreInfoQuoteText" [innerHTML]="tour.review.review"></p>
      </ion-col>
    </ion-row>

    <ion-row class="moreInfoTourRow">
      <ion-col col-4 class="moreInfoIconCol">
        <ion-icon name="clock"></ion-icon>
        <p>{{tour.restaurants.length}} stops</p>
      </ion-col>

      <ion-col col-4 class="moreInfoIconCol">
        <ion-icon name="walk"></ion-icon>
        <p>{{tour.distance}}</p>
      </ion-col>

      <ion-col col-4 class="moreInfoIconCol" style="border: none;">
        <ion-icon name="timer"></ion-icon>
        <p>{{tour.duration}}</p>
      </ion-col>

      <ion-col col-12 class="moreInfoTagsCol">
        <span class="moreInfoTags">
          {{getTourTags()}}
        </span>
      </ion-col>
    </ion-row>

    <ion-row class="moreInfoRestaurantsRow">
      <ion-col col-6 class="moreInfoRestaurantsCol">
        <ng-container *ngFor="let restaurant of tour.restaurants; let i = index">
          <ng-container *ngIf="i % 2 == 0">
            <img class="moreInfoRestaurantsImg" src="{{restaurant.image_url}}" (click)="goToRestaurant(restaurant)"/>
            <p class="moreInfoRestaurantsName">{{restaurant.name}}</p>
          </ng-container>
        </ng-container>
      </ion-col>
      <ion-col col-6 class="moreInfoRestaurantsCol">
        <ng-container *ngFor="let restaurant of tour.restaurants; let i = index">
          <ng-container *ngIf="i % 2 != 0">
            <img class="moreInfoRestaurantsImg" src="{{restaurant.image_url}}" (click)="goToRestaurant(restaurant)"/>
            <p class="moreInfoRestaurantsName">{{restaurant.name}}</p>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
